 navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 30px;
 }
 .section1 {
    text-align: center;
    margin: 300px;
    font-size: 20px;
 }
 .btn {
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
 }
 .btn:hover {
    background-color: brown;
    cursor: pointer;
    color: blanchedalmond;
 }
 .section h1 {
    background-color: brown;
    color: beige;
    border: 1px solid black;
 } 
