body{
    background-color: peru;
    height: 100vh;
    text-align: center;
}
label{
    font-size: 25px;
}
input{
    height: 30px;
    width: 50px;
}
button{
    background-color: green;
    color: white;
    height: 30px;
    padding: 2px 10px;
    border: 0px solid white;
    margin-left: 10px;
}
#result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 18px;
}