* {
    background-color: yellowgreen;
}
h2 {
 font-size: 50px;
 color: whitesmoke;
}
.count1{
    padding: 100px;
    text-align: center;
}
#value {
    font-size: 100px;
}
.btn {
    color: cornflowerblue;
    margin: 8px;
    cursor: pointer;
    border-radius: 15px;
}
