.container {
    background-color: powderblue;
    width: 350px;
    height: 200px;
    padding-top: 100px;
    margin-left: 350px;
    margin-top: 180px;
    border-radius: 6px;
}
    .clock {
      text-align: center;
      font-size: 48px;
      color: olive;
    }
    .date {
      font-family: cursive;
      text-align: center;
      font-size: 24px;
      margin-top: 10px;
      color: purple;
    }